<div class="container">
 <div class="jumbotron">
 <div class="row">
   <div class="col-md-4">
	<img src=<%= @person.picture %> />
   </div>
   <div class="col-md-4">
	   <h2><%= @person.first_name %> <%= @person.last_name %> </h2>
	   <h4><i class="fa fa-briefcase"></i> <%= @person.job %></h4>
	   <h4><i class="fa fa-envelope-o"></i> <%= @person.email %></h4>
	   <h4><i class="fa fa-calendar"></i> <%= @person.birthdate%></h4>
	   <h4><i class="fa fa-male"></i>   <%=@person.gender %></h4>
   </div>
  <div class="col-md-4">
   <p><%= @person.bio %></p>  
  </div>
 </div>
 <div class="row">
	 <div class="col-md-6 col-md-offset-8">
		<%= link_to edit_person_path(@person), class: 'btn btn-primary'  do %>
			<i class="fa fa-pencil"></i> Edit
		<% end %>
		&nbsp; 	&nbsp;
		 <%= link_to @person, method: :delete, data: { confirm: 'Are you sure?'},class: 'btn btn-danger' do %>
			<i class="fa fa-trash-o"></i> Delete
		<% end %>
		&nbsp; 	&nbsp;
		<%= link_to people_path , class: 'btn btn-primary' do %>
		   <i class="fa fa-ban"></i> Cancel
		<% end %>
	</div>
 </div>
 </div>
</div>
