<%= form_for(@person, url: {action: @action}) do |f| %>
    <% if @person.errors.any? %>
      <div class="row">
      <% @person.errors.full_messages.each do |message| %>
	  <div class="alert alert-dismissible alert-success">
	      <button type="button" class="close" data-dismiss="alert">x</button>
	      <strong><%= message %></strong>
         </div>
	<% end %>
      </div>
    <% end %>
  <div class="row">
  <div class="col-lg-6">
  <div class="form-group">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, class: 'form-control' %>
  </div>
  </div>
  <div class="col-lg-6">
  <div class="form-group">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name,class: 'form-control' %>
  </div>
  </div>
  </div>
  <div class="row">
   <div class="col-md-6">
  <div class="form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email, class:'form-control' %>
  </div>
   </div>
  <div class="col-md-6">
     <div class="form-group">
     	<%= f.label :birthdate %><br>
     	<%= f.text_field :birthdate, 'data-provide': 'datepicker', class: 'form-control' %>
     </div>
   </div>
  </div>
  <div class="row">
   <div class="col-md-6">
	<div class="form-group">
    	<%= f.label :picture %><br>
    	<%= f.text_field :picture, class: 'form-control' %>
	</div>
   </div>
   <div class="col-md-6">
    <div class="form-group">
    <%= f.label :gender %><br>
    <%= f.select :gender, [['Male','Male'], ['Female', 'Female']],{},{class: 'form-control'} %>
    </div>
   </div>
  </div>
  <div class="row"> 
   <div class="col-md-6">
  <div class="form-group">
    <%= f.label :bio %><br>
    <%= f.text_area :bio, class: 'form-control' %>
  </div>
   </div>
   <div class="col-md-6">
   <div class="form-group">
    <%= f.label :job %><br>
    <%= f.text_field :job, class: 'form-control' %>
   </div>
   </div>


  </div>
   
  <div class="actions row">
      <div class="col-md-6 col-md-offset-9">
	      <%= f.submit 'Save', class: 'btn btn-primary col-md-2' %>
	      <% if !@person.id.nil? %> 
	      	<%= link_to person_path,class: 'btn btn-primary col-md-2 col-md-offset-1' do%>     
	 	      <i class='fa fa-ban'></i> Cancel
	      	<% end %> 
	    <% end %>
      </div>
  </div>
<% end %>
